<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Subir Archivo de Excel</title>
</head>
<body>
  <h1>Prototipo de Carga</h1>
  <h1>Subir Excel Inventario Actualizado</h1>
  <form action="/subir" method="post" enctype="multipart/form-data">
    <input type="file" name="cargaInventario" accept=".xls,.xlsx" required>
    <br>
    <button type="submit" style="width:100px;height:35px;margin-top:30px;">Subir Archivo</button>
  </form>
</body>
</html>
